#conways-game {
    text-align: center;
    width: 95%;
    margin: auto;
}
#conways-game-info{
    display: flex;
    justify-content: space-evenly;
}

#conways-game-content {
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

#conways-game-players {
    margin: 10px;
}

#conways-game-players .conways-current-players {
    display: flex;
    align-items: center;
}

#conways-game-players .conways-current-players .player-color {
    width: calc(5vh - 15px);
    height: calc(5vh - 15px);
    margin: 5px;
}

#conways-game-table table {
    margin: auto;
    background: #bbb;
}

#conways-game-table table td {
    width: calc(5vh - 15px);
    height: calc(5vh - 15px);
    background: #fff;
    cursor: pointer;
}

#conways-quit-btn {
    color: red;
}

@media only screen and (max-width: 600px) {
    #conways-game-table table td {
        width: calc(5vw - 5px);
        height: calc(5vw - 5px);
    }

    #conways-game-content {
        display: block;
    }

    #conways-game-players .conways-current-players {
        display: inline-flex;
    }
}