body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#conways-index {
    text-align: center;
    width: 95%;
}

#conways-game-rules {
    max-width: 800px;
    margin: auto;
}

#conways-game-rules ul {
    text-align: left;
}

#conways-game-rules ul li {
    margin: 10px 0;
}