html {
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    font-family: monospace;
    font-size: 15px;
    background: #fafafa;
    display: flex;
}

.conways-title {
    font-weight: 600;
    font-size: 18px;
}

.conways-btn {
    padding: 10px 20px;
    background: transparent;
    font: inherit;
    border: unset;
    cursor: pointer;
    box-shadow: 0px 0px 2px 0px #333;
    border-radius: 3px;
    margin: 10px 0;
}